<!-- TABS: https://www.lightningdesignsystem.com/components/tabs/#flavor-default -->
<div class="slds-tabs--default">
  <ul class="slds-tabs--default__nav" role="tablist">
    <li *ngFor="let tab of tabs; let i = index" class="slds-tabs--default__item slds-text-title--caps" [class.slds-active]="tab == selectedTab" title="{{tab.title}}" role="presentation">
      <a class="slds-tabs--default__link" href="javascript:void(0);" (click)="switchTo(tab)" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">
        {{tab.title}}
      </a>
    </li>
  </ul>
  
  <div id="tab-default-1" class="slds-tabs--default__content" [ngClass]="tabs[0] == selectedTab ? 'slds-show' : 'slds-hide'" role="tabpanel" aria-labelledby="tab-default-1__item">
    <!--<img src="/assets/workshop-salesforce-red.jpg" alt="" class="slds-size--2-of-3 slds-m-bottom--large" />-->

    <!-- DESCRIPTION LIST: https://www.lightningdesignsystem.com/components/utilities/lists/#flavor-description-list -->
    <div class="slds-grid">
      <dl class="slds-size--1-of-2">
        <dt class="slds-text-color--weak">Organization</dt>
        <dd class="slds-m-bottom--small">(RED) at Dreamforce</dd>
        <dt class="slds-text-color--weak">Donation amount</dt>
        <dd class="slds-m-bottom--small">$500</dd>
        <dt class="slds-text-color--weak">Donation balance</dt>
        <dd class="slds-m-bottom--small">Donation Match FY 2017</dd>
        <dt class="slds-text-color--weak">Check number</dt>
        <dd class="slds-m-bottom--small">1466</dd>
      </dl>
      <dl class="slds-size--1-of-2">
        <dt class="slds-text-color--weak">Date of donation</dt>
        <dd class="slds-m-bottom--small">October 10, 2016</dd>
        <dt class="slds-text-color--weak">Method</dt>
        <dd class="slds-m-bottom--small">Credit Card</dd>
        <dt class="slds-text-color--weak">Match Amount</dt>
        <dd class="slds-m-bottom--small">$500</dd>
        <dt class="slds-text-color--weak">Reference Number</dt>
        <dd class="slds-m-bottom--small">FD-54048</dd>
      </dl>
    </div>
    <!-- /DESCRIPTION LIST -->
  </div>

  <div id="tab-default-2" class="slds-tabs--default__content" [ngClass]="tabs[1] == selectedTab ? 'slds-show' : 'slds-hide'" role="tabpanel" aria-labelledby="tab-default-2__item">
    <p>TODO: add some content here!</p>
  </div>
</div>
<!-- /TABS -->