<!--
  Navigation Bar component
  https://www.lightningdesignsystem.com/components/global-navigation/
-->
<div class="slds-context-bar">
  <div class="slds-context-bar__primary slds-context-bar__item_divider-right">
    <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
      <div class="slds-context-bar__icon-action">
        <button [routerLink]="['/', { outlets: { popup: ['compose'] } }]" class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Description of the icon when needed">
          <span class="slds-icon-waffle">
            <span class="slds-r1"></span>
            <span class="slds-r2"></span>
            <span class="slds-r3"></span>
            <span class="slds-r4"></span>
            <span class="slds-r5"></span>
            <span class="slds-r6"></span>
            <span class="slds-r7"></span>
            <span class="slds-r8"></span>
            <span class="slds-r9"></span>
          </span>
          <span class="slds-assistive-text">Open App Launcher</span>
        </button>
      </div>
      <span class="slds-context-bar__label-action slds-context-bar__app-name">
        <span class="slds-truncate" title="App Name">Metadata Tools</span>
      </span>
    </div>
  </div>
  <nav class="slds-context-bar__secondary" role="navigation">
    <ul class="slds-grid">
      <li *ngFor="let tab of tabs" [ngClass]="tab.classes" [class.slds-is-active]="tab === selectedTab" [attr.arial-haspopup]="tab.hasItems">
        <a (click)="goto(tab)" class="slds-context-bar__label-action" title="{{tab.name}}">
          <span class="slds-truncate">{{tab.name}}</span>
        </a>
        <div class="slds-context-bar__icon-action slds-p-left--none" tabindex="0" *ngIf="tab.hasItems">
          <button class="slds-button slds-button--icon slds-context-bar__button" tabindex="-1">
            <svg aria-hidden="true" class="slds-button__icon">
              <use xlink:href="/slds/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
            </svg>
            <span class="slds-assistive-text">Open menu item submenu</span>
          </button>
        </div>
        <div class="slds-dropdown slds-dropdown--right" *ngIf="tab.hasItems">
          <ul class="dropdown__list" role="menu">
            <li class="slds-dropdown__item" role="presentation" *ngFor="let item of tab.menuItems">
              <a (click)="goto(tab, menuItem)" role="menuitem" tabindex="-1">
                <span class="slds-truncate">{{item.name}}</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>

<!-- HEADER -->
<div class="slds-page-header" *ngIf="selectedTab">
  <div class="slds-media">
    <div class="slds-media__figure">
      <span class="slds-icon_container slds-icon-standard-product" title="{{selectedTab.name}}">
        <svg class="slds-icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds/icons/standard-sprite/svg/symbols.svg#product"></use>
        </svg>
      </span>
    </div>
    <div class="slds-media__body">
      <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="{{selectedTab.name}}">
        {{selectedTab.name}}
      </h1>
      <p class="slds-text-body_small slds-line-height_reset" *ngIf="selectedTab.description">
        {{selectedTab.description}}
      </p>
    </div>
  </div>
</div>
<!-- /HEADER -->

<!-- CONTENT -->
<main class="slds-grid slds-p-vertical_large">
  <slds-oauth [org]="org1"></slds-oauth>
  <slds-oauth [org]="org2"></slds-oauth>
</main>
<!-- /CONTENT -->