<slds-global-navigation [tabs]="tabs" [(selectedTab)]="selectedTab"></slds-global-navigation>

<!-- HEADER -->
<div class="slds-page-header" *ngIf="selectedTab">
  <div class="slds-media">
    <div class="slds-media__figure">
      <span class="slds-icon_container slds-icon-standard-product" title="{{selectedTab.name}}">
        <svg class="slds-icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds/icons/standard-sprite/svg/symbols.svg#product"></use>
        </svg>
      </span>
    </div>
    <div class="slds-media__body">
      <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="{{selectedTab.name}}">
        {{selectedTab.name}}
      </h1>
      <p class="slds-text-body_small slds-line-height_reset" *ngIf="selectedTab.description">
        {{selectedTab.description}}
      </p>
    </div>
  </div>
</div>
<!-- /HEADER -->

<!-- CONTENT -->
<main class="slds-grid slds-wrap slds-p-vertical_large">
  <div class="slds-col slds-size_1-of-1">
    <div class="slds-grid slds-wrap">
      <slds-oauth [(org)]="org1"></slds-oauth>
      <slds-oauth [(org)]="org2"></slds-oauth>
    </div>
  </div>

  <div class="slds-col slds-size_1-of-2" *ngIf="org1 && org1.data">
    <div class="slds-m-around_large slds-form slds-form--stacked">
      <h1 class="slds-text-title_caps">Components</h1>
      
      <div class="slds-dueling-list">
        <div class="slds-assistive-text" id="drag-live-region" aria-live="assertive"></div>
        <div class="slds-assistive-text" id="option-drag-label">Press space bar when on an item, to move it within the list. CMD plus left and right arrow keys, to move items between lists.</div>
        <div class="slds-dueling-list__column">
          <span class="slds-form-element__label" id="label-353">First Category</span>
          <div class="slds-dueling-list__options" role="application">
            <ul aria-describedby="option-drag-label" aria-labelledby="label-353" aria-multiselectable="true" class="slds-listbox slds-listbox_vertical" role="listbox" tabindex="0">
              <li role="presentation" class="slds-listbox__item" *ngFor="let component of (org1.data | sort : 'xmlName')">
                <span class="slds-listbox__option slds-listbox__option_plain slds-media" aria-selected="false" draggable="true" role="option" tabindex="-1">
                  <span class="slds-truncate" title="{{component.xmlName}}">{{component.xmlName}}</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="slds-dueling-list__column">
          <button class="slds-button slds-button_icon slds-button_icon-container" title="Up">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds/icons/utility-sprite/svg/symbols.svg#right"></use>
            </svg>
            <span class="slds-assistive-text">Move Selection to Second Category</span>
          </button>
          <button class="slds-button slds-button_icon slds-button_icon-container" title="Down">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds/icons/utility-sprite/svg/symbols.svg#left"></use>
            </svg>
            <span class="slds-assistive-text">Move Selection to First Category</span>
          </button>
        </div>
        <div class="slds-dueling-list__column">
          <span class="slds-form-element__label" id="label-358">Second Category</span>
          <div class="slds-dueling-list__options" role="application">
            <ul aria-describedby="option-drag-label" aria-labelledby="label-358" aria-multiselectable="true" class="slds-listbox slds-listbox_vertical" role="listbox" tabindex="0">
              <li role="presentation" class="slds-listbox__item">
                <span class="slds-listbox__option slds-listbox__option_plain slds-media" aria-selected="false" draggable="true" role="option" tabindex="0">
                  <span class="slds-truncate" title="Option 4">Option 4</span>
                </span>
              </li>
              <li role="presentation" class="slds-listbox__item">
                <span class="slds-listbox__option slds-listbox__option_plain slds-media" aria-selected="false" draggable="true" role="option" tabindex="-1">
                  <span class="slds-truncate" title="Option 5">Option 5</span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
<!-- /CONTENT -->