<slds-global-navigation [tabs]="tabs" [(selectedTab)]="selectedTab"></slds-global-navigation>

<!-- HEADER -->
<div class="slds-page-header" *ngIf="selectedTab">
  <div class="slds-media">
    <div class="slds-media__figure">
      <span class="slds-icon_container slds-icon-standard-product" title="{{selectedTab.name}}">
        <svg class="slds-icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds/icons/standard-sprite/svg/symbols.svg#product"></use>
        </svg>
      </span>
    </div>
    <div class="slds-media__body">
      <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="{{selectedTab.name}}">
        {{selectedTab.name}}
      </h1>
      <p class="slds-text-body_small slds-line-height_reset" *ngIf="selectedTab.description">
        {{selectedTab.description}}
      </p>
    </div>
  </div>
</div>
<!-- /HEADER -->

<!-- CONTENT -->
<main class="slds-grid slds-p-vertical_large">
  <slds-oauth [org]="org1"></slds-oauth>
  <slds-oauth [org]="org2"></slds-oauth>
</main>
<!-- /CONTENT -->