<div class="slds-form slds-form--stacked" *ngIf="!org.oauth">
  <h1 class="slds-text-title_caps">{{org.name}}</h1>
  <div class="slds-form-element">
    <label class="slds-form-element__label" for="orgType1">Salesforce Environment Type</label>
    <div class="slds-form-element__control">
      <div class="slds-select_container">
        <select id="orgType1" class="slds-select" name="orgType1" [(ngModel)]="org.type">
          <option value="production">Production</option>
          <!--<option value="developer">Developer</option>-->
          <option value="sandbox">Sandbox</option>
          <!--<option value="prerelease">Prerelease</option>-->
          <option value="custom">Custom URL</option>
        </select>
      </div>
    </div>
  </div>

  <div class="slds-form-element" id="instanceUrl1Wrapper" *ngIf="org.type === 'custom'">
    <label class="slds-form-element__label" for="instanceUrl1">Salesforce Custom URL</label>
    <div class="slds-form-element__control">
      <input id="instanceUrl1" name="instanceUrl1" class="slds-input" type="text" placeholder="Example: https://cwc-sldsdevtools.my.salesforce.com" [(ngModel)]="org.customURL">
    </div>
  </div>

  <div class="slds-form-element">
    <span class="slds-form-element__label">Login URL</span>
    <div class="slds-form-element__control slds-border_bottom">
      <span class="slds-form-element__static">{{org.loginURL}}</span>
    </div>
  </div>

  <div class="slds-form-element">
    <button (click)="connect()" class="slds-button slds-button--brand">Connect to {{org.name}} Org</button>
  </div>
</div>

<div class="slds-grid" *ngIf="org.oauth">
  <dl class="slds-col">
    <dt class="slds-text-color--weak">User ID:</dt>
    <dd class="slds-m-bottom--small">{{org.oauth.userId}}</dd>
  </dl>

  <div class="slds-form slds-form--stacked">
    
  </div>
</div>