<header class="slds-global-header_container">
  <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Navigation</a>
  <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Main Content</a>
  <div class="slds-global-header slds-grid slds-grid--align-spread">
    <div class="slds-global-header__item">
      <div class="slds-global-header__logo">
        <img src="/slds/images/logo-noname.svg" alt="" />
      </div>
    </div>
    <div class="slds-global-header__item slds-global-header__item--search">
      <div class="slds-form-element slds-lookup">
        <label class="slds-assistive-text" for="global-search-01">Search Salesforce</label>
        <div class="slds-form-element__control lookup__search-control slds-input-has-icon slds-input-has-icon--left">
          <svg aria-hidden="true" class="slds-input__icon">
            <use xlink:href="/slds/icons/utility-sprite/svg/symbols.svg#search"></use>
          </svg>
          <input id="global-search-01" class="slds-input slds-lookup__search-input" type="search" placeholder="Search Salesforce" />
        </div>
      </div>
    </div>
    <ul class="slds-global-header__item slds-grid slds-grid--vertical-align-center">
      <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small">
        <button class="slds-button" title="person name" aria-haspopup="true">
          <span class="slds-avatar slds-avatar--circle slds-avatar--medium">
            <img src="/slds/images/avatar2.jpg" alt="person name" />
          </span>
        </button>
      </li>
    </ul>
  </div>
</header>

<h1>
  {{title}}
</h1>
