<my-app-header></my-app-header>

<div class="slds-app-launcher__content slds-p-around_medium">
  <div class="slds-section slds-is-open">
    <h3 class="slds-section__title">
      <button aria-controls="appsContent" aria-expanded="true" class="slds-button slds-section__title-action">
        <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds/icons/utility-sprite/svg/symbols.svg#switch"></use>
        </svg>
        <span class="slds-truncate" title="All Apps">All Apps</span>
      </button>
    </h3>
    <div aria-hidden="false" class="slds-section__content" id="appsContent">
      <ul class="slds-grid slds-grid_pull-padded slds-wrap">
        <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
          <a routerLink="/metadata" class="slds-app-launcher__tile slds-text-link_reset">
            <div class="slds-app-launcher__tile-figure">
              <span class="slds-avatar slds-avatar_large">
                <abbr class="slds-avatar__initials slds-icon-custom-27" title="app name">MT</abbr>
              </span>
            </div>
            <div class="slds-app-launcher__tile-body">
              <span class="slds-text-link">Metadata Tools</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                <span class="slds-text-link">More</span>
              </p>
            </div>
          </a>
        </li>
        <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
          <a routerLink="/data" class="slds-app-launcher__tile slds-text-link_reset">
            <div class="slds-app-launcher__tile-figure">
              <span class="slds-avatar slds-avatar_large">
                <abbr class="slds-avatar__initials slds-icon-custom-28" title="app name">DT</abbr>
              </span>
            </div>
            <div class="slds-app-launcher__tile-body">
              <span class="slds-text-link">Data Tools</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                <span class="slds-text-link">More</span>
              </p>
            </div>
          </a>
        </li>
        <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
          <a routerLink="/health" class="slds-app-launcher__tile slds-text-link_reset">
            <div class="slds-app-launcher__tile-figure">
              <span class="slds-avatar slds-avatar_large">
                <abbr class="slds-avatar__initials slds-icon-custom-29" title="app name">HC</abbr>
              </span>
            </div>
            <div class="slds-app-launcher__tile-body">
              <span class="slds-text-link">Health Checker</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                <span class="slds-text-link">More</span>
              </p>
            </div>
          </a>
        </li>
        <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
          <a routerLink="/api" class="slds-app-launcher__tile slds-text-link_reset">
            <div class="slds-app-launcher__tile-figure">
              <span class="slds-avatar slds-avatar_large">
                <abbr class="slds-avatar__initials slds-icon-custom-30" title="app name">API</abbr>
              </span>
            </div>
            <div class="slds-app-launcher__tile-body">
              <span class="slds-text-link">API</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                <span class="slds-text-link">More</span>
              </p>
            </div>
          </a>
        </li>
        <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-3">
          <a routerLink="/apex" class="slds-app-launcher__tile slds-text-link_reset">
            <div class="slds-app-launcher__tile-figure">
              <span class="slds-avatar slds-avatar_large">
                <abbr class="slds-avatar__initials slds-icon-custom-31" title="app name">APEX</abbr>
              </span>
            </div>
            <div class="slds-app-launcher__tile-body">
              <span class="slds-text-link">Apex</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                <span class="slds-text-link">More</span>
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>