<slds-global-navigation [tabs]="tabs" [(selectedTab)]="selectedTab"></slds-global-navigation>

<!-- HEADER -->
<div class="slds-page-header" *ngIf="selectedTab">
  <div class="slds-media">
    <div class="slds-media__figure">
      <span class="slds-icon_container slds-icon-standard-product" title="{{selectedTab.name}}">
        <svg class="slds-icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/slds/icons/standard-sprite/svg/symbols.svg#product"></use>
        </svg>
      </span>
    </div>
    <div class="slds-media__body">
      <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="{{selectedTab.name}}">
        {{selectedTab.name}}
      </h1>
      <p class="slds-text-body_small slds-line-height_reset" *ngIf="selectedTab.description">
        {{selectedTab.description}}
      </p>
    </div>
  </div>
</div>
<!-- /HEADER -->

<main class="app-wrapper">
  <!-- WIZARD: https://www.lightningdesignsystem.com/components/process/#flavor-wizard -->
  <div class="slds-wizard slds-m-around--large" role="navigation">
    <ol class="slds-wizard__list">
      <li class="slds-wizard__item slds-is-active">
        <a href="javascript:void(0);" class="slds-wizard__link">
          <span class="slds-wizard__marker"></span>
          <span class="slds-wizard__label slds-text-title--caps slds-truncate">Created</span>
        </a>
      </li>
      <li class="slds-wizard__item slds-is-active">
        <a href="javascript:void(0);" class="slds-wizard__link">
          <span class="slds-wizard__marker"></span>
          <span class="slds-wizard__label slds-text-title--caps slds-truncate">Verified</span>
        </a>
      </li>
      <li class="slds-wizard__item slds-is-active">
        <a href="javascript:void(0);" class="slds-wizard__link">
          <span class="slds-wizard__marker"></span>
          <span class="slds-wizard__label slds-text-title--caps slds-truncate">Pledged</span>
        </a>
      </li>
      <li class="slds-wizard__item">
        <a href="javascript:void(0);" class="slds-wizard__link">
          <span class="slds-wizard__marker"></span>
          <span class="slds-wizard__label slds-text-title--caps slds-truncate">Approved</span>
        </a>
      </li>
      <li class="slds-wizard__item">
        <a href="javascript:void(0);" class="slds-wizard__link">
          <span class="slds-wizard__marker"></span>
          <span class="slds-wizard__label slds-text-title--caps slds-truncate">Disbursed</span>
        </a>
      </li>
    </ol>
    <span class="slds-wizard__progress">
      <span class="slds-wizard__progress-bar" style="width:50%;"></span>
    </span>
  </div>
  <!-- /WIZARD -->
</main>